@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root[data-theme="light"] {
    --cor-1: #FFFFFF;
    --cor-2: #0A3871;
    --cor-3: #495057;
    --cor-4: #343A40;
    --cor-5: #d0edf7;
}

:root[data-theme="dark"] {
    --cor-1: #141414;
    --cor-2: #e4e4e4;
    --cor-3: #495057;
    --cor-4: #343A40;
    --cor-5: #0a0a0a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--cor-1);
}

h1,h2 {
    color: var(--cor-4);
}

.svg__logo path {
    fill: var(--cor-2);
}

.svg__aviso path {
    fill: var(--cor-4);
}

/* Cabeçalho */
.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    color: var(--cor-2);
}

.cabecalho__menu__opcoes {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
    list-style: none;
    user-select: none;
}

.cabecalho__menu__opcoes__item {
    cursor: pointer;
}
.cabecalho__menu__opcoes__item > .material-symbols-outlined {
    background-color: var(--cor-5);
    padding: .4rem;
    border-radius: .5rem;
    margin-left: -.7rem;
    cursor: pointer;
}

/* Conteúdo */
.conteudo {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1.5rem;
}

.conteudo__div {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.conteudo__decodificador {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.conteudo__decodificador__texto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.conteudo__decodificador__texto__area {
    padding: .5rem .8rem;
    resize: none;
    border: none;
    font-size: 1.1rem;
    color: var(--cor-2);
    background-color: var(--cor-1);
    width: 95vw;
}

.conteudo__decodificador__aviso {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 0;
    gap: .3rem;
    font-size: .9rem;
    line-height: 1.1rem;
    color: var(--cor-4);
}

.conteudo__decodificador__botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.conteudo__decodificador__botao,
.conteudo__texto__decodificado__resultado__copiar {
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    border-width: .1rem;
    border-style: solid;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    cursor: pointer;
}
.conteudo__decodificador__botao.criptografar {
    background-color: var(--cor-2);
    border-color: var(--cor-2);
    color: var(--cor-1);
}
.conteudo__decodificador__botao.descriptografar,
.conteudo__texto__decodificado__resultado__copiar {
    background-color: var(--cor-1);
    border-color: var(--cor-2);
    color: var(--cor-2);
}

.conteudo__texto__decodificado__div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
    gap: 1rem;
    box-shadow: 0 .8rem 10rem -1rem rgba(0, 0, 0, 0.15);
}

.conteudo__texto__decodificado__titulo {
    line-height: 1.8rem;
}

.conteudo__texto__decodificado__conteudo {
    font-size: 1rem;
    color: var(--cor-3);
}

.conteudo__texto__decodificado__resultado {
    display: flex;
    text-align: start;
    justify-content: flex-start;
    flex-direction: column;

    padding: 2rem;
    border-radius: 2rem;
    gap: 1rem;
    box-shadow: 0 .6rem 1rem -.4rem rgba(0, 0, 0, 0.15);
}

.conteudo__texto__decodificado__resultado__texto {
    color: var(--cor-2);
    margin-bottom: 1.5rem;
    min-height: 15rem;
}

/* FAQ */
.conteudo__faq {
    display: flex;
    flex-direction: column;
    margin: 0 -1.5rem;
    padding: 1.5rem;
    background-color: var(--cor-5);
    gap: 1.5rem;
}

.conteudo__faq__titulo {
    font-size: 1.8rem;
}

.conteudo__faq__perguntas__titulo {
    font-size: 1.2rem;
}
.conteudo__faq__perguntas__resposta {
    font-size: .8rem;
    margin-bottom: .5rem;
    color: var(--cor-4);
}

/* Rodapé */
.rodape {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--cor-4);
}

.rodape__logo .svg__logo {
    width: 1.5rem;
    margin-bottom: -1rem;
}

.rodape__contatos {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.rodape__redes__sociais {
    display: flex;
    flex-direction: column;
}

.redes__sociais__titulo,
.rodape__contato__titulo {
    font-size: .9rem; 
}

.redes__sociais__botoes {
    display: flex;
    gap: .6rem;
    list-style: none;
    margin-top: .4rem;
}

.rede__sociais__botao {
    padding: .25rem .5rem;
    background-color: transparent;
    border-width: .05rem;
    border-style: solid;
    border-color: var(--cor-4);
}

.rede__sociais__botao > a {
    color: var(--cor-4);
}

.rodape__contato__email {
    font-size: .8rem;
}

.rodape__copyright {
    font-size: .55rem;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
    .conteudo__decodificador__aviso {
        padding: 0 .5rem;
        justify-content: flex-start;
    }

    .conteudo__decodificador__botoes {
        flex-direction: row;
    }

    .conteudo__texto__decodificado__resultado__texto {
        min-height: 7rem;
    }

    .rodape__contatos {
        gap: 12rem;
        flex-direction: row;
    }

    .rodape__copyright {
        font-size: .7rem;
    }
}

@media only screen and (min-width: 1280px) {
    .conteudo__div {
        flex-direction: row;
    }

    .conteudo__decodificador {
        width: 60%;
        margin-left: 10rem;
    }

    .conteudo__decodificador__texto__area {
        width: 100vh;
    }

    .conteudo__decodificador__botoes {
        width: 100vh;
    }

    .conteudo__texto__decodificado__div {
        height: 28rem;
        width: 17rem;
    }

    .conteudo__texto__decodificado__resultado__texto {
        min-height: 7rem;
    }

    .conteudo__texto__decodificado__titulo::before {
        content: '';
        display: block;
        width: 12rem;
        height: 12rem;
        background-image: url("../../public/assets/images/procura.svg");
        background-size: cover;
        margin-bottom: 2rem;
    }

    .conteudo__texto__decodificado__titulo {
        font-size: 1.1rem;
        line-height: 1.4rem;
    }

    .conteudo__texto__decodificado__conteudo {
        font-size: .9rem;
    }

    .rodape__contatos {
        gap: 18rem;
    }
}